@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Oswald:200|Russo+One);/*@import "~bootstrap-sass/assets/stylesheets/bootstrap";*/

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
header,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: Open Sans;
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End CSS Reset*/

body {
  height: 100%;
}

.button_read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  color: #fff;
  max-width: 12%;
  min-width: 6%;
  max-height: 1.5%;
  min-height: 0.5%;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #d44b38;
  padding: 0.7em 1.5em;
  outline: none;
  border-radius: 5px;
}

.button_read:hover {
  background: #e85f4c;
}

.button_read:active {
  background: #980f00;
}

/* Mani Content Block Beggin*/

.main__content {
  margin: 0 auto;
  background-color: #e5e5e5;
  border: 1px solid rgba(255, 249, 249, 0.92);
  padding: 0 8%;
}

.main__content__wrapper {
  max-width: 1374px;
  margin: 12% auto;
}

/* Style for Site-Header */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #151515;
  color: #fff;
  font-family: Open Sans;
  border-bottom: 1px solid #fff;
  border-top: 2px outset #fff;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
}

.header__item {
  font-size: 16px;
  padding: 10px 15px;
  margin: 3px;
}

.header__item:hover a {
  padding-bottom: 5px;
  border-bottom: 1px solid #F22512;
}

.header__item.headerButton.search {
  cursor: pointer;
  fill: #ffffff;
}

.header__item.headerButton.search:hover {
  fill: #F22512;
}

/* Top Section Start */

.top__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 460px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-blend-mode: color, multiply;
}

.top__section:hover {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-blend-mode: color, multiply;
}

.top__section:after {
  content: "";
  padding: 56.3333333px;
}

.top__section:hover.top__cover {
  top: 20%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  overflow: hidden;
}

.top__cover {
  width: 100%;
  top: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.top__section:hover .top__cover {
  top: 55%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.top__item {
  margin-bottom: 8%;
  margin-right: 4%;
  margin-left: 6%;
  margin-top: 1%;
  font-size: 18px;
  color: #000;
}

.top_image_item h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: #fff;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.top_image_item p {
  font-size: 1em;
  color: #fff;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.button_read {
  margin-top: 4%;
}

.help-items-top {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.help-top-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.help-tems-like-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  cursor: pointer;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.help-tems-rewies-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  cursor: pointer;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.help-tems-rewies-top:hover {
  fill: #d44b38;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-tems-like-top:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  fill: #d44b38;
}

.help-tems-rubric-top {
  white-space: nowrap;
  font-size: 0.7em;
  background: #736664;
  padding: 0.7em 1em;
  outline: none;
  font-weight: 500;
  line-height: 10px;
  border-radius: 25px;
}

.help-tems-rubric-top:hover {
  background-color: #d44b38;
  padding: 0.9em 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Top Section End */

.home__article__section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 3px solid rgba(255, 249, 249, 0.92);
}

.second__item-first {
  width: 55%;
  height: 100%;
  border-right: 1px solid #fff;
  position: relative;
  background-color: #151515;
}

:hover.second__item-first img {
  opacity: 0.4;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-blend-mode: color, multiply;
}

.second__item-first .secont__text {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.second__item-first:hover .secont__text {
  bottom: 15%;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.second__item-second {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #fff;
  width: 45%;
  position: relative;
  background-color: #151515;
}

.help-second-icons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-bottom: -10%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.second__item-first:hover .help-second-icons {
  position: absolute;
}

.secont__text {
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
}

.secont__text h3 {
  font-size: 1.3em;
  color: #fff;
  margin-bottom: 2%;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.secont__text p {
  font-size: 0.9em;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.second__item-first img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .8s;
  transition: all .8s;
  background-blend-mode: color, multiply;
}

.second__item-second img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .8s;
  transition: all .8s;
  background-blend-mode: color, multiply;
}

:hover.second__item-second img {
  opacity: 0.4;
  -webkit-transition: all .8s;
  transition: all .8s;
  background-blend-mode: color, multiply;
}

.second__item-second .secont__text {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.second__item-second:hover .help-second-icons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__item-second:hover .secont__text {
  bottom: 15%;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.help-tems-like-second {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  cursor: pointer;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.help-tems-like-second:hover {
  fill: #d44b38;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-tems-rewies-second {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  cursor: pointer;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.help-tems-rewies-second:hover {
  fill: #d44b38;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-tems-rubric-second {
  white-space: nowrap;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.7em 1em;
  outline: none;
  font-weight: 500;
  line-height: 10px;
  border-radius: 25px;
}

.help-tems-rubric-second:hover {
  background-color: #d44b38;
  padding: 0.9em 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section__grid {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 6px;
  width: 100%;
}

.grid-top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.grid-top h3 {
  text-align: left;
  font-size: 33px;
  white-space: nowrap;
  color: #000;
  line-height: 100px;
  font-weight: 700;
  padding-left: 6%;
}

.grid__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  height: 400px;
  max-height: 100%;
  position: relative;
  border-bottom: 1px solid #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.grid__item:hover .grid__item_text {
  top: 52%;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.grid__item:nth-child(even) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.grid__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-blend-mode: color, multiply;
}

.grid__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-color: transparent;
}

.grid__item:hover:before {
  background-color: rgba(0, 0, 0, 0.6);
}

.grid__item_text {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 65%;
  color: #fff;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 4%;
  z-index: 1;
}

.grid__item_text:nth-child(2n) {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.grid_help_rubric {
  position: absolute;
  bottom: -10%;
  right: 0;
  margin-right: 6%;
  white-space: nowrap;
  font-size: 0.7em;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.7em 1em;
  outline: none;
  font-weight: 500;
  line-height: 10px;
  border-radius: 25px;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.grid_help_rubric a {
  font-size: 14px;
}

.grid_help__review {
  position: absolute;
  bottom: -10%;
  left: 0;
  margin-left: 21%;
  cursor: pointer;
  fill: #fff;
}

.grid_help__review:hover {
  fill: #F22512;
}

.grid_help_like {
  position: absolute;
  bottom: -10%;
  left: 0;
  margin-left: 6%;
  cursor: pointer;
  fill: #fff;
}

.grid_help_like:hover {
  fill: #F22512;
}

.grid__item_text h4 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 2%;
  text-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5), 0 -1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 6px rgba(0, 0, 0, 0.5), 1px 0 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(0, 0, 0, 0.5), 1px -1px 6px rgba(0, 0, 0, 0.5), -1px 1px 6px rgba(0, 0, 0, 0.5), 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin-top: 25px;
  border: 1px solid red;
  width: 100%;
  height: 550px;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 33%;
  height: 300px;
  border: 1px solid black;
}

.left-content .profile-setting-navigation {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 33%;
  height: 300px;
  border: 1px solid red;
}

.center-content h2 {
  margin-top: 15px;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 33%;
  height: 300px;
  border: 1px solid green;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile-private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  width: 35%;
}

.s-t-size {
  height: 220px;
}

.article .article__header .article__header-bg {
  position: relative;
  width: 100%;
  height: 450px;
  max-width: 1650px;
  background: no-repeat center left fixed;
  background-size: cover;
}

.article .article__header .article__header-bg .line-read {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1650px;
  background: rgba(42, 42, 42, 0.65);
}

.article .article__header .article__header-bg .line-read .article__header__h1 {
  margin-right: 8%;
  margin-left: 8%;
  text-shadow: -0   -1px 5px #F2F2F2, 0   -1px 5px #F2F2F2, -0    1px 5px #F2F2F2, 0    1px 5px #F2F2F2, -1px -0   5px #F2F2F2, 1px -0   5px #F2F2F2, -1px  0   5px #F2F2F2, 1px  0   5px #F2F2F2, -1px -1px 5px #F2F2F2, 1px -1px 5px #F2F2F2, -1px  1px 5px #F2F2F2, 1px  1px 5px #F2F2F2, -1px -1px 5px #F2F2F2, 1px -1px 5px #F2F2F2, -1px  1px 5px #F2F2F2, 1px  1px 5px #F2F2F2;
  verflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
  line-break: strict;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
  font-size: 32px;
  color: #0c0c0c;
  font-weight: 600;
}

.article .article__header .article__wrapper {
  display: none;
}

.article .article__header .article__header__time {
  font-size: 14px;
  color: #0c0c0c;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
}

.article .article__header .article__header__author {
  font-style: italic;
  font-size: 18px;
  color: #0c0c0c;
  padding-left: 12px;
}

.article .article__header .article__header__author span {
  border-bottom: 1px solid #28aaa1;
}

.article .article__text p {
  font-size: 16px;
  color: #0c0c0c;
}

.article .article__text h2 {
  font-size: 24px;
  color: #0c0c0c;
  font-weight: 500;
}

.article .article__text h3 {
  font-size: 20px;
  color: #0c0c0c;
  font-weight: 400;
}

.article .article__text h4 {
  font-size: 18px;
  color: #0c0c0c;
  font-weight: 300;
}

.article .article__footer .article_footer__prev {
  font-size: 16px;
}

.article .article__footer .article__footer__space {
  padding-left: 20px;
  padding-right: 20px;
}

.category__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__content .category__item {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  width: 100%;
  max-width: 457px;
}

.category__content .category__item .category__item__image {
  width: 100%;
  height: 282px;
}

.category__content .category__item .category__item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-blend-mode: color, multiply;
}

.category__content .category__item .category__item__text {
  width: 100%;
  height: 210px;
  max-height: 260px;
  padding-bottom: 3%;
  background-color: #ffffff;
}

.category__content .category__item .category__item__text h3 {
  padding-top: 3%;
  text-align: center;
  font-size: 1.3em;
}

.category__content .category__item .category__item__text p {
  word-spacing: normal;
  font-size: 1.1em;
  margin: 3%;
}

.category__content .category__item:nth-child(3n-1) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.flex-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field {
  clear: both;
  text-align: right;
  line-height: 25px;
  margin-top: 35px;
}

.field fieldset {
  margin-bottom: 25px;
}

.field label {
  float: left;
  padding-right: 60px;
  text-align: right;
}

.field input {
  float: left;
}

.field .main {
  float: left;
}

