/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,body , div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
}


a {
  color: #fff;
  text-decoration: none;
}
h2, h3, h4, h5{
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,header, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: Open Sans;
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End CSS Reset*/

body{
  height: 100%;


}

.button_read{
  display: -webkit-flex;
  display: flex;
  white-space: nowrap;
  color: #fff;
  max-width: 12%;
  min-width: 6%;
  max-height: 1.5%;
  min-height: 0.5%;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: 0.7em 1.5em;
  outline: none;
  border-radius: 5px;
}
.button_read:hover{
  background: rgb(232,95,76);
}
.button_read:active{
  background: rgb(152,15,0);
}
/* Mani Content Block Beggin*/

.main__content{
 margin: 0 auto;
  background-color:#e5e5e5;
  border: 1px solid rgba(255, 249, 249, 0.92);
  padding: 0 8%;

}
.main__content__wrapper{
  max-width: 1374px;
  margin:12% auto;
}