.article__comment__view{
  display: flex;
  flex-direction:column;
  .comment_head{
    display: flex;
    flex-direction:row;
    position: relative;
    margin-bottom:.5%;
    margin-top:1.5%;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        background-blend-mode: color, multiply;

        }
      a{
        line-height: 1.5;
        height: 100%;
        font-size:1.2em;
        font-weight:600;
        margin-left: 1%;
      }
    time{
      line-height: 1.5;
      height: 100%;
      font-size:1.2em;
      margin-left:1.1%;
      color:#000000;
    }
    }
  .comment__body{
    p{
      color:#000000;
      font-size:1.1em;

    }
  }

}
